@import '../main.scss';
.navbar {
  background: $blue-mid;
  font-size: 1.6rem;

  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);

  &-brand {
    font-family: $brand-font;
    font-size: 2rem;
    color: $white;
    div {
      font-size: 2rem;
      line-height: 1.7rem;
    }

    a {
      color: white;
      text-decoration: none;
      &:after,
      &:before {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
      }
    }
  }
  &-menu {
    &-item {
      transition: all 0.3s;
      @include respond(tab-port) {
        text-align: center;
        font-size: 1.8rem;
      }
      a {
        color: white;
        text-decoration: none;
        &:after,
        &:before {
          margin: 0;
          padding: 0;
          box-sizing: inherit;
        }

        &:hover {
          text-decoration: none;
          color: rgba(243, 245, 249, 0.8);
          border-bottom: 2px solid rgb(236, 240, 245, 0.8);
        }
      }
    }
  }
}
