@import '../main.scss';

.contact {
  width: 40%;
  margin: auto;

  @include respond(tab-land) {
    width: 70%;
  }
  @include respond(tab-port) {
    width: 100%;
  }
  &-form {
    margin: auto;
    background: #36cff4;
    padding: 7rem;
    color: $white;
    font-size: 1.6rem;
    border-radius: 5px;
    margin-top: 8rem;
    margin-bottom: 10rem;

    h2 {
      color: $white;
      font-weight: 800;
      font-size: $sub-title;
      padding: 1.5rem 0;
    }

    button {
      margin-top: 2rem;
      padding: 0.7rem;
    }
  }
}
